
.cabecalho-moda {
    background-color: #BB86FC;
}

.cabecalho-casa {
    background-color: #00C4B4;
}

tr {
    background-color: #424250;  
}
td, th{
    padding: 5px;
}
h1 {
    color: black;
}

body {
    color: #FFFFFF;
}

